
@{
    ViewBag.Title = "Our Food!!";
    ViewBag.AnotherText = "Hello Bro";
}

@using ASP.NETproductWebPage.Models
@model ProductsModel

<h1>@ViewBag.AnotherText</h1>
<h2>@ViewBag.Title</h2>

<div class="container">
    <div class="row">
       @using (Html.BeginForm("Add", "Product", FormMethod.Post))
        {
         <div class="form-group">
            @Html.LabelFor(x => x.Name)
            @Html.TextBoxFor(x => x.Name, new { @class = "form-control", placeholder = "Enter Product name" })
            @Html.ValidationMessageFor(x => x.Name, "Please enter a valid Product name.", new { @class = "text-danger" })
         </div>

         <div class="form-group">
            @Html.LabelFor(x => x.Description)
            @Html.TextBoxFor(x => x.Description, new { @class = "form-control", placeholder = "Enter middle name" })
            @Html.ValidationMessageFor(x => x.Description, "", new { @class = "text-danger" })
         </div>
         <div class="form-group">
            @Html.LabelFor(x => x.Price)0
0            @Html.TextBoxFor(x => x.Price, new { @class = "form-control", placeholder = "Enter last name" })
            @Html.ValidationMessageFor(x => x.Price, "", new { @class = "text-danger" })
         </div>
            

            <button type="submit" class="btn-success">Submit</button>
        }
    </div>
</div>

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")}
